<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetofinal626">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyFirebaseService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".AlternativeTravel"
            android:label="Alternative Travel" />
        <activity
            android:name=".MatchInProgress"
            android:label="Match in Progress" />
        <activity
            android:name=".ConfirmTrip"
            android:label="Confirm Trip" />
        <activity
            android:name=".Chat"
            android:label="Chat" />
        <activity
            android:name=".StartPage"
            android:label="Trip Summary" />
        <activity
            android:name=".UpcomingTrips"
            android:label="Upcoming Trips" />
        <activity
            android:name=".TravelSaveTrip"
            android:label="Save Trip" />
        <activity
            android:name=".TravelReturnTrip"
            android:label="Return Trip" />
        <activity
            android:name=".TravelRoundTripQuestion"
            android:label="Round Trip" />
        <activity
            android:name=".TravelOneWay"
            android:label="One Way" />
        <activity
            android:name=".MainActivity"
            android:label="Sign In" />
        <activity
            android:name=".MatchedTripSummary"
            android:label="Welcome to MeetO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>